.DS_Store
bin/
log/
tmp/
vendor/
.bundle/
.sass-cache/
*.psd
trash/
.rbenv-version
.emacs.d/ac-comphist.dat
.emacs.d/auto-save-list/
.emacs.d/backups/
.emacs.d/bookmarks
.emacs.d/**/*~
.emacs.d/eshell/
.emacs.d/history
.emacs.d/session*
.emacs.d/tramp
.emacs.d/url/cookies
